:root{
    --mainColor:#220900a1;
    --secondaryColor:#2a1b3d;

    --borderColor: #000;

    --mainText:#fff;
    --secondaryText:#fff;

    --themeDotBorder:  #000;

    --previewBg: #8122002a;
    --previewShadow: #220900a1;

    --button-Color: #220900a1;
}
